.ant-color-holder {
  width: 10px;
  height: 10px;
  border-radius: 53%;
}
.ant-container {
  display: flex;
  border: 1px solid;
  width: fit-content;
  border-radius: 40px;
  padding: 15px;
  position: relative;
}

.ant-name {
  font-size: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
